body {
  background: green;
  height: 100vh;
  font-family: Helvetica;
  display: grid;
  /* mobile first - single column */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  /* grid-gap: 10vw; */
  text-align: center;
}

header {
  font-family: Helvetica;
  display: block;
  grid-column: 3;
  grid-row: 1;
  border: 2px solid grey;
  border-radius: 10px;
  outline: auto;
  background: white;
  height: 10vh;
}

/* #welcome {
  grid-column: 3;
  grid-row: 3;
  text-align: center;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 50px 50px 100px 10px;
  padding: 50px;
  background: White;
} */

/* .all-buttons {
  grid-column: 3;
  grid-row: 4;
} */

#start {
  grid-column: 3;
  grid-row: 4;
}

#dealer-deck {
  grid-column: 3;
  grid-row: 2;
  
}

#dealer-hand {
  grid-column: 3;
  grid-row: 3;
}

#player-deck {
  grid-column: 3;
  grid-row: 6;
}

#player-hand {
  grid-column: 3;
  grid-row: 5;
  
}

#hit {
  grid-column: 2;
  grid-row: 4;
}

#stand {
  grid-column: 4;
  grid-row: 4;
}

.hidden {
  display: none;
}

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 4px dotted grey;
} */

button {
  display: grid;
  margin: 50px 50px 30px 10px;
  padding: 50px;
  font-size: 16px;
  background: yellow;
  color: grey;
  border: 2px solid grey;
  border-radius: 10px;
  outline: none;
  
}

button:hover {
  background-color: rgb(228, 231, 20);
  color: white;
}
