/* body {
  
  height: 100vh;
  font-family: Helvetica;
  display: grid;
  grid-template-columns: 200px 400px 200px 200px;
  grid-template-rows: 55px 30px 200px 40px 250px 30px 150px;
  grid-gap: 2vw;
  text-align: center;
} */

/* body {
  background: rgb(255, 255, 255);
  background-image: url("../css/card-deck-css/images/Other/istockphoto-1303915114-612x612.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: Helvetica;
  display: grid;
  /* mobile first - single column */
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr; */
  /* grid-gap: 10vw; */
  /* text-align: center; */
/* }  */

body {
  background: green;
  background-image: url("../css/card-deck-css/images/Other/istockphoto-1303915114-612x612.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: Helvetica;
  display: grid;
  /* mobile first - single column */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 100px 200px 100px 1fr;
  /* grid-gap: 10vw; */
  text-align: center;
}

header {
  font-family: Helvetica;
  display: block;
  padding: 10px;
  grid-column: 1;
  grid-row: 1;
  border: 2px solid grey;
  border-radius: 10px;
  outline: auto;
  background: white;
  height: 10vh;
}

/* #welcome {
  grid-column: 3;
  grid-row: 3;
  text-align: center;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 50px 50px 100px 10px;
  padding: 50px;
  background: White;
} */

/* .all-buttons {
  grid-column: 3;
  grid-row: 4;
} */

/* #play-buttons {
  display: flex;
  flex-direction: column;
} */

#game-results {
  grid-column: 3;
  grid-row: 5;
}

#dealer-deck {
  grid-column: 3;
  grid-row: 1;
  
}

#dealer-hand {
  grid-column: 3;
  grid-row: 2;
}

#dealer-total {
  grid-column: 3;
  grid-row: 4;
}

#player-deck {
  grid-column: 3;
  grid-row: 11;
}

#player-hand {
  grid-column: 3;
  grid-row: 10; 
}

#player-total {
  grid-column: 3;
  grid-row: 9;
}

#hit {
  grid-column: 2;
  grid-row: 7;
}

#stand {
  grid-column: 4;
  grid-row: 7;
}

.show-hit {
  display: grid;
  grid-column: 2;
  grid-row: 5;
}

.show-stand {
  display: grid;
  grid-column: 4;
  grid-row: 5;
}

/* .hidden {
  display: none;
} */

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 4px dotted grey;
} */

#start {
  position: inherit;
  /* left: 50%;
  top: 50%;
  right: 50%;
  bottom: 50%; */
  /* margin: 50px 10px 10px 50px; */
  grid-column: 3;
  grid-row: 7;
  padding: 50px;
  text-align: center;
}

button {
  /* display: grid; */
  /* margin: 50px 50px 30px 10px; */
  /* padding: 50px; */
  font-size: 16px;
  background: yellow;
  color: grey;
  border: 2px solid grey;
  border-radius: 10px;
  outline: none;
  
}

button:hover {
  background-color: rgb(228, 231, 20);
  color: white;
}